.buttonConteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    border: none;
    background: none;
    &:not(:first-child) {
      margin-left: 5px;
    }
    svg {
      color: rgb(0, 0, 0);
      width: 23px;
      height: 23px;
    }
  }
}
