body {
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#btn-reset {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
.svg-btn-reset {
  width: 25px;
  height: 25px;
}
#basic-addon2 {
  padding: 0;
  padding: 0 10px;
}
.nav-bar-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
}
.image-responsive {
  margin-right: 10px;
}
#btn-reset {
  color: grey;
}
.titel-home {
  text-align: center;
}
.us-app {
  text-align: center;
  color: #ff8400;
  font-size: 28px;
}
.list-dev-icon {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}
.list-dev-icon li {
  padding: 0.5em;
  text-align: center;
  color: #505050;
}
.list-dev-icon li svg {
  width: 80px;
  height: 80px;
}
