body {
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#btn-reset {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
.svg-btn-reset {
  width: 25px;
  height: 25px;
}
#basic-addon2 {
  padding: 0;
  padding: 0 10px;
}
.nav-bar-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
}
